header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}


img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}



 